* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.AllCurrencies, .Comparative, .Crypto {
    height: 90vh;
    text-align: center;
}

.font-big {
    font-size: 20px;
    font-weight: bold;
}